.bobby
crash-reports
DiscordIntegration-Data
downloads
fancymenu_data
fancymenu_setups
lightspeed-cache
localconfigs
logs
modernfix
resourcepacks
saves
schematics
screenshots
.curseclient
emi.json
minecraftinstance.json
servers.dat.old
usercache.json
usernamecache.json